<main>
  <div>
    <div>
      <div class="w-100 m-auto d-flex justify-content-center">
        <div>
          <img 
          src="../../../assets/images/logo efeza.png"
          style="width:200px"
           alt="">
        </div>

      </div>
      <div>
        <div class="w-100 d-flex justify-content-center">
            <form class="form">
              <p class="title">Generer votre badge </p>
                  <div class="flex mb-2">
                  <label>
                      <input class="input" type="text" placeholder="" required="">
                      <span>Prenom</span>
                  </label>
          
                  <label>
                      <input class="input" type="text" placeholder="" required="">
                      <span>Nom</span>
                  </label>
              </div>  
                      
              <label class="mb-2">
                  <input class="input" type="email" placeholder="" required="">
                  <span>Code super agent</span>
              </label> 
              <label class="mb-4">
                <input class="input" type="email" placeholder="" required="">
                <span>Numero de telephone</span>
            </label> 
                  
              
              
              <button class="submit">Generer</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>